.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideContainer {
  background-size: cover;
  background-position: center;
  display: flex;
}
.caption-box{
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 40%;
  background-color: rgba(255, 255, 255, 0.49);
}
.slide-title{
  font-size: 2rem;
  font-weight: bolder;
  display: block;
}
.slide-sub-title{
  font-size: 1.5rem;
  font-weight: lighter;
  display: block;
}

.call-to-action{
  margin-top: 0.5rem;

}

.call-to-action a{
  text-transform: capitalize;
}
